.gallery-image-container { 
  position: relative;
}

.gallery-image-container figcaption {   
  margin-top: 2rem; 
  text-align: center;
}

.gallery-image {
  position: absolute;
  top: 0;
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 750px;
	height: auto;
}

.gallery-image.scratchable {
  cursor:  crosshair;
  cursor: url(../../images/coin.png) 53 53, crosshair;
}